

body {
	background: darkcyan;
}

#intro-text {
	font-size: 30px;
	font-family: Segoe UI Semibold;
	background: cyan;
	margin:30px;
	padding:5px;
	
}

#banner {
    width: 102%;
    margin: -1%;
    padding: 0;
    height: 84%;
}

#bantext {
    font-family: "Minecraft";
    color: white;
    background: black;
    margin: -1%;
    padding: 0.5%;
    vertical-align: middle;
    top: 80%;
    width: 100%;
    text-align: center;
}

#banner {
    width: 100%;
    margin: -1%;
    padding: 0;
    height: 84%;
}