/** COOL screen GIF: background: url("https://i.gifer.com/EHil.gif"); */
/** cube gif: https://giphy.com/embed/9ZsHm0z5QwSYpV7g01https://i.gifer.com/GYny.gif"); */


.page-hero {
    background-size: 100% 100%;
    background: #000022 no-repeat fixed;
    animation: backgroundTransition 60s infinite;
}

.hero {
    padding:3rem;
    box-sizing:border-box;
}

.redirect-hero {
    display:flex;
    flex-direction:row;
    align-items:center;
}


.redirect-hero-container {
    margin: 0 5rem;
}

.redirect-profile-img {
    height: 25rem;

}

.redirect-hero-container h1 {
    display: block;
    color: var(--accent-dark);
    font-family: var(--font-heading);
    margin-bottom: -1rem;
    font-size: 4rem;
}

.redirect-hero-container h2 {
    font-size: 1.5rem;
    color: var(--accent);

}



.profile-title {
    display: block;
}

.hero-container {
    margin: 0 5rem;
}

.hero-container h1 {
    display: block;
    color: var(--accent-dark);
    font-family: var(--font-heading);
    margin-bottom: -1rem;
    font-size: 4rem;
	text-align:left;
}

.hero-container h2 {
    font-size: 1.5rem;
    color: var(--accent);

}

.about-container {
    gap: 2rem;
}

.hero-wrapper {
    display: flex;
    flex-direction: row;
}

.projects {
    margin-top: 0;
}

.projects-header {
    color: white;
    font-size: 3rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.project:hover {
    animation-name:projectHoverIn;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.project {
    animation-name:projectHoverOut;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    padding: 1rem;
    width: 40%;
    text-align: left;
    height: 45rem;
    border-radius: 1rem;
    text-decoration:none;
}


.project img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 0.3rem;
    display: block;
    margin: auto;
}


.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.profile-img {
    height: 25rem;
}


.profile-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding-left:6rem;


}

.profile-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hero-container p {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
}

.hero-container h3 {
    font-size: 2rem;
    font-family:var(--font-heading);
    margin-top: 5rem;
}

.mobile-profile-img {
    display: none;
}


.project h3 {
    padding-top: 1rem;
    font-size: 2rem;
}

.project p {
    font-size: 1.4rem;
    color: #dddddd;
    font-family:var(--font-heading);
}


@media screen and (max-width: 768px) {
	
	.projects-header {
		text-align: left;
		margin: 2rem;
	}
	
	.prize-img-desktop {
		display: none;
	}
	
	.prize-img-mobile {
		display: block;
		width:100%;
	}
	
	.redirect-root {
		height:100%;
		width:100%;
		overflow: hidden;
	}
	
	.redirect-hero {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		margin:0;
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		justify-content: center;

	}
	
    .hero {
        flex-direction: column;
        align-items: flex-end;
        padding: 0 0 0rem 0;

    }

	.redirect-hero-container {
		margin:0rem;
		display:flex;
		flex-direction: column;
		align-items: center;
		gap:1rem;
		margin:0;
		padding:0;
	}

	.redirect-profile-img {
		height: 20rem;
		margin: 1rem 0;
		padding:0;

	}

	.redirect-hero-container h1 {
		display: inline;
		text-align: center;
		color: var(--accent-dark);
		font-family:var(--font-heading);
		margin-bottom: 0;
		font-size: 2rem;
		padding: 0 1rem;
	}
	
	.redirect-hero-container h1 a {
		font-size: 2.5rem;
	}

	.redirect-hero-container h2 {
		font-size: 1.5rem;
		color: var(--accent);
		text-align:center;

	}

    .profile-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .profile-text-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        text-align: center;
        align-items: center;
        padding-left: 0;
    }



    .profile-img {
        display: none;
    }


    .mobile-profile-img {
        display: unset;
        height: 20rem;
        margin-bottom: 3rem;
    }


    .hero-container {
        margin:0;
        text-align: center;
    }

    .hero-container h1 {
        font-size: 4rem;
        line-height: 1.2;
        /* justify-content: center;; */
        margin-bottom: 1.5rem;

    }

    .hero-container h2 {
        font-size: 2rem;
        text-align: left;
        margin: 0;
        margin-bottom: 3rem;


    }
	
	.subtext-wrapper {
		margin-bottom:0 !important;
	}

    .hero-container p {
        font-size: 1.3rem;
        margin: 1.5rem;
		text-align:left;
    }

    footer {
        background: black;
        width: 100%;
        left: -5vw;
    }

    .project {
        width: 80%;
    }

}