@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Train+One&display=swap');

.csrevision {
	color:white;
	font-size:1.3rem;
	text-decoration:none;
	font-family:Segoe UI;
}

body {
    margin: 0;
    font-family: 'Anaheim', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0e0b16;
    color: #e0e0e0;
}

header {
    padding: 1rem 2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

@keyframes backgroundTransition {
	0% {background:#111133;}
	20% {background:#113333;}
	40% {background:#113311;}
	60% {background:#331111;}
	80% {background:#333311;}
	100% {background:#111133;}

}

/** COOL screen GIF: background: url("https://i.gifer.com/EHil.gif"); */
/** cube gif: https://giphy.com/embed/9ZsHm0z5QwSYpV7g01https://i.gifer.com/GYny.gif"); */
#hero {
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	/background: #000022;
	animation-name: backgroundTransition;
	animation-duration: 60s;
	animation-iteration-count:infinite;
	display:flex;
	flex-direction:row;
	align-items: center;
	
}



.hero-container {
	margin: 0rem 5rem;
}


#profileTitle {
	display:block;
}

.hero-container h1 {
	display:block;
    color: #00dda5;
	font-family: 'Titillium Web';
    margin-bottom: -1rem;
	font-size:4rem;
}

.hero-container h2 {
    font-size: 1.5rem;
    color: #00ff85;

}

.content-section {
    
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-img {
	height:25rem;
	
}

#hero-wrapper {
	display:flex;
	flex-direction:row;
}

#projects {
	margin-top:0rem;
}

#projectsHeader {
	color:white;
	font-size:3rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
	margin-bottom: 10rem;
}

.project {
    background-color: #1f1f3d;
    padding: 1rem;
    width: 40%;
    text-align: left;
	height:45rem;
	border-radius:1rem;
}


.project img {
    max-width: 100%;
	max-height:70%;
    border-radius: 0.3rem;
	display:block;
	margin:auto;
}

a {
	color:white;
	text-underline-offset:1vh;
}

.project h3 {
    font-size: 1.5rem;
    color: #00e5ff;
    margin: 0.5rem 0;
}

.project p {
    font-size: 1rem;
    color: #b3b3b3;
}

footer {
    background-color: #1f1f3d;
    padding: 1rem 2rem;
    text-align: center;
	position:fixed;
	bottom:0;
	width:100%;
}

.footer-container p {
    font-size: 0.875rem;
    color: #b3b3b3;
}

.profile-wrapper {
	display:flex;
	flex-direction:row;
	align-items: flex-end;
	justify-content: space-evenly;
}

.profile-img {
	height:25rem;
	}

.profile-text-wrapper{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
	text-align:left;
	margin-left:4rem;
}

.profile-wrapper h2 {
	font-size:2.5rem;
}

.hero-container p {
	font-size: 1.5rem;
	font-family:'Titillium Web';
}

.hero-container h3 {
		font-size: 2rem;
	font-family:'Titillium Web';
	margin-top:5rem;
}

.mobile-profile-img {
	display:none;
}

.project h3 {
	padding-top:1rem;
	font-size:2rem;
}
	
.project p {
	font-size:1.4rem;
	color:#dddddd;
	font-family:'Titillium Web';
}

@media screen and (max-width: 768px) {
	
	.profile-wrapper {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	}
	
	.profile-text-wrapper {
		display:flex;
		flex-direction:column;
		margin:0rem 2rem;
		text-align:center;
		align-items:center;
	}
	
	#hero {
		flex-direction:column;
		align-items: flex-end;
		padding:0.2rem 0rem;
	}
	
	.profile-img {
		display:none;
	}
	
	.mobile-profile-img {
		display:unset;
		height:20rem;
		margin-bottom:3rem;
	}
	
	.hero-container {
		
		margin:0rem 0rem;
		text-align: center;
	}
	
	.hero-container h1 {
		font-size:4rem;
		line-height:1.2;
		justify-content: center;
		margin-bottom:1.5rem;
		
	}
	
	.hero-container h2 {
		font-size:2.3rem;
		text-align:center;
		margin:0rem;
		
	
	}
	
	.hero-container p {
		font-size:1.3rem;
		margin:1.5rem;
	}
	
	footer {
		background:black;
		width:100%;
		left:-5vw;
		}
	
	.project {
		width:80%;
	}
	

	
}